/*  color: #ef850b NARANJA
    color: #06068f AZUL*/

* {
  font-family: "Passion One", cursive;
}

/*-----ESTILOS NAV-----*/

.nav-link {
  color: #fff;
}

.navbar-brand {
  color: #ef850b;
}

.nav__title {
  font-size: 1.5rem;
  max-width: 140px;
}

.navbar-toggler {
  color: #fff;
  background-color: #ef850b;
  margin-right: 3rem;
}
/*-----ESTILOS FOOTER-----*/

.footer__link {
  font-size: 1.5rem;
  color: #fff;
}

.footer-text {
  font-size: 1.1rem;
}

/*-----ESTILOS INDEX-----*/

#intro-section {
  background-image: url(../images/cuerdaColor.jpg);
  background-size: cover;
  min-height: 100vh;
  position: relative;
  color: white;
}

.intro-section__title {
  font-size: 4rem;
}

.intro-section__text {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.39);
}

.color-overlay {
  position: absolute;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.more-info {
  background-size: cover;
  min-height: 100vh;
  position: relative;
  color: white;
}

.more-info-box {
  max-width: 20rem;
  min-height: 20rem;
  background-color: #ef850b;
}

.color-overlay-light {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}

.more-info__title {
  color: #06068f;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.39);
}

/*-----ESTILOS SERVICIOS-----*/
#services {
  background-image: url(../images/cuerdaBnW.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.services__boxes {
  min-height: 20rem;
  background-color: #ef850b;
}

.services__title {
  color: #06068f;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.39);
}
.services__subtitle {
  color: #06068f;
}

.services__button {
  background-color: #06068f;
  padding: 0.2rem 1rem;
  border-radius: 0.25rem;
  transition: all 0.5s ease;
  text-decoration: none;
  color: #fff;
}

.services__button:hover,
.services__button:focus {
  background-color: #fff;
  color: #06068f;
}

/*-----ESTILOS FAQ-----*/
#faq__section {
  background-image: url(../images/deadlift.jpg);
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

.faq__container {
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.39);
}

/*-----ESTILOS NOSOTROS-----*/
#nosotros {
  min-height: 100vh;
  background-image: url(../images/medball.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/*----- ANIMACIONES IMG ------*/

.coaches {
  min-width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "coaches-title"
    "coach1-ph"
    "coach1-text"
    "coach2-ph"
    "coach2-text"
    "coach3-ph"
    "coach3-text";
  grid-template-rows: 5rem 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  padding: 5rem 0;
}

.coaches__title {
  grid-area: coaches-title;
  font-size: 2.5rem;
  color: #06068f;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.39);
  padding-bottom: 2.5rem;
}

.coach1-ph {
  grid-area: coach1-ph;
  color: white;
  background-image: url(../images/equipo1.jpg);
  background-size: cover;
  padding: 10rem 0 0;
  max-width: 280px;
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 500ms ease;
}

.coach1-ph:hover {
  transform: scale(1.05);
}

@media (hover) {
  .coach-content {
    transform: translateY(65%);
    transition: transform 500ms ease;
  }
  .coach1-ph:hover .coach-content {
    transform: translateY(0);
    transition-delay: 500ms;
    background-color: rgba(0, 0, 0, 0.248);
  }
}

.coach-content {
  padding: 0 1.5rem 0.5rem 1.5rem;
}

.coach-content__title {
  color: #000;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.39);
}

.coach-content__body {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.39);
}

.button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 0.2rem 1rem;
  border-radius: 0.25rem;
  transition: all 0.5s ease;
}

.button:hover,
.button:focus {
  background-color: white;
  color: black;
}

.coach1-text {
  grid-area: coach1-text;
}
.coach2-ph {
  grid-area: coach2-ph;
  color: white;
  background-image: url(../images/equipo2.jpg);
  background-size: cover;
  padding: 10rem 0 0;
  max-width: 280px;
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 500ms ease;
}

.coach2-ph:hover {
  transform: scale(1.05);
}

@media (hover) {
  .coach-content {
    transform: translateY(65%);
    transition: transform 500ms ease;
  }
  .coach2-ph:hover .coach-content {
    transform: translateY(0);
    transition-delay: 500ms;
    background-color: rgba(0, 0, 0, 0.248);
  }
}

.coach2-text {
  grid-area: coach2-text;
}
.coach3-ph {
  grid-area: coach3-ph;
  color: white;
  background-image: url(../images/equipo3.jpg);
  background-size: cover;
  padding: 10rem 0 0;
  max-width: 280px;
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 500ms ease;
}

.coach3-ph:hover {
  transform: scale(1.05);
}

@media (hover) {
  .coach-content {
    transform: translateY(65%);
    transition: transform 500ms ease;
  }
  .coach3-ph:hover .coach-content {
    transform: translateY(0);
    transition-delay: 500ms;
    background-color: rgba(0, 0, 0, 0.248);
  }
}

.coach3-text {
  grid-area: coach3-text;
}

.coach-text {
  justify-items: center;
  padding: 0 5.2rem;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.39);
}

@media screen and (min-width: 768px) {
  .nav__title {
    font-size: 3.5rem;
  }
  .coaches {
    min-width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-areas:
      "coaches-title coaches-title coaches-title"
      "coach1-ph coach1-text coach1-text"
      "coach2-text coach2-text coach2-ph"
      "coach3-ph coach3-text coach3-text";
    grid-template-rows: 5rem 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 5rem 0;
  }
  .coaches__title {
    font-size: 5rem;
  }
  .footer-text {
    font-size: 2rem;
  }
}

/*-----ESTILOS CONTACTO-----*/
#contacto {
  min-width: 100vw;
  background-image: url(../images/bike.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 4rem;
}

.contacto__title {
  display: flex;
  padding: 2rem 0;
  font-size: 3rem;
  color: #06068f;
}

legend {
  font-size: 2rem;
  padding: 0.5rem 0.2rem;
  margin-left: 2rem;
}

.form__items {
  display: flex;
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
  color: #06068f;
}

fieldset {
  background-color: #fff;
  border: 2px solid black;
  padding: 0 2rem;
}

.form__items label {
  padding-right: 0.4rem;
}

.form__items .checkbox__text {
  padding: 0 0.4rem;
}

.form__fecha-localidad {
  display: flex;
  justify-content: space-between;
}

.form__fecha-localidad .form__items {
  width: 50%;
}

.form__button {
  display: flex;
  padding: 2rem 0;
  justify-content: flex-end;
}

.form__button input {
  background-color: #ef850b;
  color: #000;
  border-radius: 10%;
  padding: 0.5rem;
}
