/*ESTILOS GLOBALES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Passion One", cursive;
}

/*VARIABLES*/ /*ESTILOS DEL NAV*/
.navbar {
  background-color: #06068f;
}
.navbar .container-fluid .navbar-brand {
  color: #ef850b;
}
.navbar .container-fluid .navbar-brand .nav__title {
  font-size: 1.5rem;
  max-width: 140px;
}
.navbar .container-fluid button.navbar-toggler {
  color: #fff;
  background-color: #ef850b;
  margin-right: 3rem;
}
.navbar .container-fluid div ul li a.nav-link {
  color: #fff;
}

/*ESTILOS DEL NAV*/
.navbar {
  background-color: #06068f;
}
.navbar .container-fluid .navbar-brand {
  color: #ef850b;
}
.navbar .container-fluid .navbar-brand .nav__title {
  font-size: 1.5rem;
  max-width: 140px;
}
.navbar .container-fluid button.navbar-toggler {
  color: #fff;
  background-color: #ef850b;
  margin-right: 3rem;
}
.navbar .container-fluid div ul li a.nav-link {
  color: #fff;
}

/*ESTILOS DEL FOOTER*/
#footer .container-fluid .footer__sm {
  background-color: #06068f;
}
#footer .container-fluid .footer__sm .footer-text {
  font-size: 1.1rem;
}
#footer .container-fluid .footer__sm .footer-sm-icons a.footer__link {
  font-size: 1.5rem;
  color: #fff;
}
#footer .container-fluid .footer__copyright {
  background-color: #ef850b;
}

/*ESTILOS INDEX*/
#intro-section {
  background-image: url(../images/cuerdaColor.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 50vh;
  position: relative;
  color: #fff;
}
#intro-section .container-fluid .row .color-overlay {
  position: absolute;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
#intro-section .container-fluid .row .color-overlay div h1.intro-section__title {
  font-size: 2.5rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.39);
}
#intro-section .container-fluid .row .color-overlay div p.intro-section__text {
  font-size: 1rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.39);
}

#section-more-info .more-info {
  background-image: url(../images/BoxJump.jpg);
  background-size: cover;
  min-height: 100vh;
  position: relative;
  color: #fff;
}
#section-more-info .more-info .color-overlay-light {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}
#section-more-info .more-info .color-overlay-light .row .col h2.more-info__title {
  font-size: 2.5rem;
  color: #06068f;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.39);
}
#section-more-info .more-info .color-overlay-light .row .more-info-box {
  min-width: 20rem;
  min-height: 20rem;
  background-color: #ef850b;
}

/*ESTILOS SERVICIOS*/
#services {
  background-image: url(../images/cuerdaBnW.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
#services .container-fluid .row .col h1.services__title {
  font-size: 2.5rem;
  color: #06068f;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.39);
}
#services .container-fluid .row .services__boxes {
  max-height: 20rem;
  max-width: 18rem;
  background-color: #ef850b;
}
#services .container-fluid .row .services__boxes h2.services__subtitle {
  color: #06068f;
  display: flex;
  text-align: center;
}
#services .container-fluid .row .services__boxes .services__button {
  background-color: #06068f;
  padding: 0.2rem 1rem;
  border-radius: 0.25rem;
  transition: all 0.5s ease;
  text-decoration: none;
  color: #fff;
}

/*ESTILOS NOSOTROS*/
#nosotros {
  min-height: 100vh;
  background-image: url(../images/medball.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#nosotros .coaches {
  min-width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-areas: "coaches-title" "coach1-ph" "coach1-text" "coach2-ph" "coach2-text" "coach3-ph" "coach3-text";
  grid-template-rows: 5rem 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  padding: 5rem 0;
}
#nosotros .coaches .coaches__title {
  grid-area: coaches-title;
}
#nosotros .coaches .coaches__title h1 {
  font-size: 2.5rem;
  color: #06068f;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.39);
  padding-bottom: 2.5rem;
}
#nosotros .coaches .coach1-ph, #nosotros .coaches .coach3-ph, #nosotros .coaches .coach2-ph {
  grid-area: coach1-ph;
  color: #fff;
  background-image: url(../images/equipo1.jpg);
  background-size: cover;
  padding: 10rem 0 0;
  max-width: 280px;
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 500ms ease;
}
#nosotros .coaches .coach1-ph:hover, #nosotros .coaches .coach3-ph:hover, #nosotros .coaches .coach2-ph:hover {
  transform: scale(1.05);
}
#nosotros .coaches .coach1-ph .coach-content, #nosotros .coaches .coach3-ph .coach-content, #nosotros .coaches .coach2-ph .coach-content {
  padding: 0 1.5rem 0.5rem 1.5rem;
}
#nosotros .coaches .coach1-ph .coach-content .coach-content__title, #nosotros .coaches .coach3-ph .coach-content .coach-content__title, #nosotros .coaches .coach2-ph .coach-content .coach-content__title {
  color: #000000;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.39);
}
#nosotros .coaches .coach1-ph .coach-content .coach-content__body, #nosotros .coaches .coach3-ph .coach-content .coach-content__body, #nosotros .coaches .coach2-ph .coach-content .coach-content__body {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.39);
}
#nosotros .coaches .coach1-ph .coach-content .button, #nosotros .coaches .coach3-ph .coach-content .button, #nosotros .coaches .coach2-ph .coach-content .button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #000000;
  padding: 0.2rem 1rem;
  border-radius: 0.25rem;
  transition: all 0.5s ease;
}
#nosotros .coaches .coach1-ph .coach-content .button:hover, #nosotros .coaches .coach3-ph .coach-content .button:hover, #nosotros .coaches .coach2-ph .coach-content .button:hover,
#nosotros .coaches .coach1-ph .coach-content .button .button:focus,
#nosotros .coaches .coach3-ph .coach-content .button .button:focus,
#nosotros .coaches .coach2-ph .coach-content .button .button:focus {
  background-color: #fff;
  color: black;
}
#nosotros .coaches .coach1-text {
  grid-area: coach1-text;
}
#nosotros .coaches .coach-text {
  justify-items: center;
  padding: 0 5.2rem;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.39);
}
#nosotros .coaches .coach2-ph {
  grid-area: coach2-ph;
  background-image: url(../images/equipo2.jpg);
}
#nosotros .coaches .coach2-text {
  grid-area: coach2-text;
}
#nosotros .coaches .coach3-ph {
  grid-area: coach3-ph;
  background-image: url(../images/equipo3.jpg);
}
#nosotros .coaches .coach3-text {
  grid-area: coach3-text;
}

/*ESTILOS FAQ*/
#faq__section {
  background-image: url(../images/deadlift.jpg);
  background-size: cover;
  min-height: 100vh;
  position: relative;
}
#faq__section .container-fluid .row h1.faq__title {
  color: #06068f;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.39);
}
#faq__section .container-fluid .row div.faq__container {
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.39);
}
#faq__section .container-fluid .row div.faq__container .faq__subtitle {
  color: #06068f;
}

/*ESTILOS CONTACTO*/
#contacto {
  background-image: url(../images/bike.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 4rem;
}
#contacto h1.contacto__title {
  margin: 2rem 0;
  font-size: 2rem;
  color: #06068f;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.39);
}
#contacto .contacto__form form fieldset {
  background-color: #fff;
  border: 2px solid black;
  padding: 0 2rem;
}
#contacto .contacto__form form fieldset .form__items {
  padding-bottom: 0.5rem;
}
#contacto .contacto__form form fieldset .form__button {
  display: flex;
  padding: 2rem 0;
  justify-content: flex-end;
}
#contacto .contacto__form form fieldset .form__button input {
  background-color: #ef850b;
  color: #000;
  border-radius: 10%;
  padding: 0.5rem;
}

/*MEDIA QUERIES 768px*/ /*VARIABLES*/
@media screen and (min-width: 768px) {
  /*MQ NAV*/
  .navbar .container-fluid .navbar-brand .nav__title {
    font-size: 4rem;
    margin-left: 1rem;
  }
  /*MQ FOOTER*/
  #footer .container-fluid .footer__sm .footer-text {
    font-size: 2rem;
  }
  /*MQ INDEX*/
  #intro-section {
    background-image: url(../images/cuerdaColor.jpg);
    background-size: cover;
    max-width: 100vw;
    min-height: 100vh;
    position: relative;
    color: #fff;
  }
  #intro-section .container-fluid .row .color-overlay {
    position: absolute;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }
  #intro-section .container-fluid .row .color-overlay .intro-section__content {
    width: 50%;
  }
  #intro-section .container-fluid .row .color-overlay .intro-section__content .intro-section__title {
    font-size: 4rem;
  }
  #intro-section .container-fluid .row .color-overlay .intro-section__content .intro-section__text {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.39);
  }
  #section-more-info .more-info {
    background-size: cover;
    min-height: 100vh;
    position: relative;
    color: #fff;
  }
  #section-more-info .more-info .color-overlay-light {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
  }
  #section-more-info .more-info .color-overlay-light .row .col .more-info__title {
    font-size: 4rem;
    color: #06068f;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.39);
  }
  #section-more-info .more-info .color-overlay-light .row .more-info-box {
    max-width: 20rem;
    min-height: 20rem;
    background-color: #ef850b;
  }
  /*MQ SERVICIOS*/
  #services .container-fluid .row .col h1.services__title {
    font-size: 4rem;
  }
  #services .container-fluid .row .services__boxes {
    min-height: 20rem;
    background-color: #ef850b;
  }
  #services .container-fluid .row .services__boxes .services__button {
    background-color: #06068f;
    padding: 0.2rem 1rem;
    border-radius: 0.25rem;
    transition: all 0.5s ease;
    text-decoration: none;
    color: #fff;
  }
  #services .container-fluid .row .services__boxes .services__button:hover,
  #services .container-fluid .row .services__boxes .services__button .services__button:focus {
    background-color: #fff;
    color: #06068f;
  }
  /*MQ NOSOTROS*/
  #nosotros .coaches {
    min-width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-areas: "coaches-title coaches-title coaches-title" "coach1-ph coach1-text coach1-text" "coach2-text coach2-text coach2-ph" "coach3-ph coach3-text coach3-text";
    grid-template-rows: 5rem 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 5rem 0;
  }
  #nosotros .coaches .coaches__title h1 {
    font-size: 4.2rem;
  }
  /*MQ FAQ*/
  /*MQ CONTACTO*/
}
@media screen and (min-width: 768px) and (hover) {
  .coach-content {
    transform: translateY(65%);
    transition: transform 500ms ease;
  }
  .coach1-ph:hover .coach-content, #nosotros .coaches .coach2-ph:hover .coach-content, #nosotros .coaches .coach3-ph:hover .coach-content {
    transform: translateY(0);
    transition-delay: 500ms;
    background-color: rgba(0, 0, 0, 0.248);
  }
}
@media screen and (min-width: 768px) {
  .faq__title {
    font-size: 4.2rem;
  }
}
@media screen and (min-width: 768px) {
  .row-top {
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 768px) {
  #contacto h1.contacto__title {
    display: flex;
    padding: 2rem 0;
    font-size: 4.2rem;
    color: #06068f;
  }
  #contacto .contacto__form form fieldset legend {
    font-size: 2rem;
    padding: 0.5rem 0.2rem;
    margin-left: 2rem;
  }
  #contacto .contacto__form form fieldset .form__items {
    display: flex;
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
    color: #06068f;
  }
  #contacto .contacto__form form fieldset .form__items :placeholder-shown {
    font-size: 1rem;
  }
  #contacto .contacto__form form fieldset .form__items label {
    padding-right: 0.4rem;
  }
  #contacto .contacto__form form fieldset .form__items .checkbox__text {
    padding: 0 0.4rem;
  }
  #contacto .contacto__form form fieldset .form__fecha-localidad {
    display: flex;
    justify-content: space-between;
  }
  #contacto .contacto__form form fieldset .form__fecha-localidad .form__items {
    width: 50%;
  }
  #contacto .contacto__form form fieldset .form__button {
    display: flex;
    padding: 2rem 0;
    justify-content: flex-end;
  }
  #contacto .contacto__form form fieldset .form__button input {
    background-color: #ef850b;
    color: #000;
    border-radius: 10%;
    padding: 0.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
