/*VARIABLES*/
$color-blanco: #fff;
$color-negro: #000000;
$color-naranja: #ef850b;
$color-azul: #06068f;
$text-shadow-black: 2px 2px 2px rgba(0, 0, 0, 0.39);
$text-shadow-white: 2px 2px 2px rgba(255, 255, 255, 0.39);
